/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@mobile (max-width: 500px);
body {
  background-color: #1e252d;
  background-image: linear-gradient(to bottom, rgba(46, 41, 41, 0.636), #1f1d1d);
}
/* header */
header {
  color: #424242;
  margin: 10px 40px 0 40px;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #eaebec;
  margin-bottom: 40px;
}
header nav a {
  border-bottom: 1.5px solid #eaebec;
  padding: 0 5%;
  text-decoration: none;
}
header nav a:active {
  color: #ffffff;
}
header nav a:visited {
  color: #eaebec;
}
header h1 {
  color: #eaebec;
  font-size: 3rem;
}
header .me-simple {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
header .me-simple img {
  height: 25%;
  width: 25%;
}
header .me-simple h1 {
  color: #424242;
  margin-bottom: 20px;
}
header .me-simple h2 {
  margin-bottom: 25px;
  padding: 0 0 20px 85%;
  border-bottom: 1px solid #424242;
}
header .me-simple p {
  margin: 20px 0;
}
header .me-simple a {
  margin-bottom: 40px;
}
header .me-simple a button {
  background-color: #424242;
  color: #eaebec;
  border-radius: 2px;
  padding: 10px 5px;
}
/*main index page*/
.main-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 40px;
  padding-top: 20px;
}
.main-info h2 {
  font-size: 2em;
}
.main-info .left {
  color: #424242;
  width: 40%;
  padding: 0 2%;
}
.main-info .left p {
  margin: 10px 0;
}
.main-info .right {
  width: 40%;
  padding: 0 2%;
}
.main-info .right ul {
  color: #424242;
  margin: 10px 0;
}
.main-info .right ul li {
  border: 1.25px solid #424242;
  padding: 5px;
}
/*main contact page*/
.contact-info {
  margin: 40px 40px;
  background-color: #eaebec;
  color: #424242;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.contact-info .left {
  width: 40%;
  padding: 0 2%;
}
.contact-info .right {
  width: 40%;
  padding: 0 2%;
}
.contact-info .right .icons li {
  margin-top: 35px;
}
/*main about page*/
.about-info {
  margin: 40px 40px;
  background-color: #eaebec;
  color: #424242;
}
/*work history*/
.history {
  background-color: #ffffff;
  margin: 0 40px 40px;
  padding: 20px 0 10px 0;
  text-align: left;
}
.history table {
  width: 96%;
  margin: 0 2%;
  margin-bottom: 20px;
}
.history h2 {
  font-size: 2rem;
  margin: 0 2% 5px;
}
.history tr:nth-child(even) {
  background-color: #424242;
  color: #eaebec;
}
.history th {
  border-top: 1px solid #424242;
}
/*footer*/
footer {
  color: #eaebec;
  text-align: center;
  margin-bottom: 20px;
}
